snippet for "for in" b
for $1 in $2:
	$0
endsnippet

snippet [] "bracket" iA
[$1]$0
endsnippet

snippet lambda "unicode" i
λ
endsnippet

snippet mu "unicode" i
μ
endsnippet

snippet epsi "unicode" i
ε
endsnippet

snippet sigma "unicode" i
σ
endsnippet

snippet alpha "unicode" i
α
endsnippet

snippet beta "unicode" i
β
endsnippet

snippet delta "unicode" i
δ
endsnippet

snippet Delta "unicode" i
Δ
endsnippet

